<%provide(:title, "免責事項")%>

<div class="help-contact-about-box">

  <h1>免責事項</h1>

  <p class="help-contact-about-explanation">
    <ul>
      <li>本アプリはポートフォリオ用に開発中の個人アプリのため、実際のユーザーが使用することを想定しておりません。</li>
      <li>ご利用により不都合が生じましても一切の責任は負いかねますのでご了承ください。</li>     
    </ul>
  </p>

</div>