<%provide(:title, "ヘルプ")%>
    

<div class="help-contact-about-box">

    <h1>ヘルプページ</h1>

    <p class="help-contact-about-explanation">
    <ul>
        <li>あなたの人生の時間を数値で見えるようにします。</li>
        <li>あなたの思い出の一枚をプロフィール画像にしましょう。</li>
        <li>写真を登録してアルバムを作ることもできます。</li>
        <li>アルバムはスライドショーで閲覧できます。</li>
        <li>色々なことを目標にして達成しましょう。</li>
        <li>todoリストを達成するとポイントがたまります。</li>
        <li>貯めたポイントでサイト内で購入できるおまけもあります。</li>
        <li class="yellow">一度購入した物もポイントが足りて入れば購入できるので注意しましょう。</li>
        <li class="yellow">無駄な時間を使わないように全てポイント消費したい方はご自由に連打してください</li>
        <li>貯めたポイントのランキング機能があります。</li>
        <li>通算ポイントのランキングなので気にせず使いましょう。</li>
    </ul>

    </p>


</div>

<style>
.yellow{
    color:yellow;
}
</style>
