<%provide(:title, "ホーム") %>

<div class="">
  <h1>ようこそクソアプリへ</h1>

  <h2>
    このアプリは開発中のクソアプリです
  </h2>

  <%= link_to "ユーザー登録", signup_path, class: "" %>
</div>

<%= link_to image_tag("", alt: "画像") ,'#' %>


ここまでがメインコンテンツです



