<%provide(:title, "ホーム") %>

  
  
  <div class ="row text-center">
  <h1>ようこそ</h1>
  </div>
  <div class ="row text-center">
  <button type="button" class="btn btn-warning btn-lg">
  <%= link_to "ユーザー登録", signup_path, class: "" %>
  </button>
  </div>

  <div class ="row text-center">
  <button type="button" class="btn btn-primary btn-lg">
  <%= link_to "ログインダミー", root_path, class: "" %>
  </button>
  </div>

  <div class ="row text-center">
  <button type="button" class="btn btn-danger btn-lg">
  <%= link_to "ログアウトダミー", root_path, class: "" %>
  </button>
  </div>

  <div class ="row text-center">
  <button type="button" class="btn btn-default btn-lg">
  <%= link_to "自分の部屋へダミー", root_path, class: "" %>
  </button>
  </div>