

<div class="ranking">
    <div class="panel panel-warning rankingpanel">

      <div class="panel-heading">
      <h3 class="panel-title">達成ポイントランキング</h3>
      </div>

      <ul class="ranklist panel-body">

            <%- num = 1 %>

        <% @users.each do |user| %>

            <li class="list-group-item rankinglist">
            <%= num %>位
            <%= user.name%>さん
            <%= user.point%>ポイント
            </li>

            <%- num += 1 %>
        <% end %>
     </ul>

      <div class="panel-footer"></div>

    </div>
</div>