
<div class="container rgbgamebox">

  <div class="gameexplanation">
    <strong>ゲームの説明</strong><br>
    タイマーに関するゲーム設置予定<br>
    
  </div>


    <%# アプリ部分 %>
    <div id="timercountapp">

    

    </div>

</div>



<%# vue.jsのスクリプト部分 %>
<script>

  // Vueインスタン内で使う関数の定義
      


  // Vueインスタンス
  
  
</script>




<%# 各種ゲームページのスタイルはgames.scssに記載 %>