部分テンプレートゲームid１<br>

色当てゲーム<br>

<div id="app">

<p v-bind:style="{backgroundColor: mixColor}"/> {{mixColor}}</p>
<input type="range" v-model="R" min="0" max="255"/><br>
<input type="range" v-model="G" min="0" max="255"/><br>
<input type="range" v-model="B" min="0" max="255"/><br>

</div>

<script>

new Vue({
  el:"#app",
  data:{
    R:255,
    G:255,
    B:255
  },
  computed:{
    mixColor: function(){
      var ans = "RGB("+this.R+","+this.G+","+this.B+")";
      return ans;
    }
  }
})


</script>

<style>


</style>