部分テンプレートゲームid１<br>

カウントアップタイマー<br>

<div id="app">

<p>{{message}}<p>
<p>{{count}}<p>
<button v-on:click="countUp">１増やす</button>

</div>

<script>
new Vue({
  el: "#app",
  data:{
    message: 'hello, world',
    count: 0,
  },
  methods:{
    countUp: function(){
      this.count++;
    }
  }

})


</script>

<style>


</style>