
<div class="container rgbgamebox">

  <div class="gameexplanation">
    <strong>ゲームの説明</strong><br>
    タイマーに関するゲーム設置予定<br>
    
  </div>


    <%# アプリ部分 %>
    <div id="timercountapp">
      <p>今{{resetSec}}秒</p>
      <button v-on:click="startTimer">Start</button>
      <button v-on:click="stopTimer">Stop</button>

    </div>

</div>



<%# vue.jsのスクリプト部分 %>
<script>

  // Vueインスタン内で使う関数の定義
      


  // Vueインスタンス
  new Vue({
    el:"#timercountapp",
    data:{
      resetSec: 0,
      timerObj:null,
    },

    methods:{
      startTimer:function(){
        this.resetSec = 0;
        this.timerObj = setInterval(() => {this.resetSec++}, 1000);
      },


      stopTimer:function(){
        clearInterval(this.timerObj);
      }
    },



    watch:{
      // 秒数を監視する
      resetSec: function(){
        // 100秒になったらタイマー 停止
        if(this.resetSec >= 10000){
          clearInterval(this.timerObj);
        }
      }

      }
    

  })  


</script>




<%# 各種ゲームページのスタイルはgames.scssに記載 %>