
<h1>  <%= @user.name%>さんが購入したゲーム </h1>
<h1>  <%= @game.name%>をプレイするためのページ </h1>

<%- if @game.id == 1 %>
<%= render 'shared/game1' %>
<% end %>


<%- if @game.id == 2 %>
<%= render 'shared/game2' %>
<% end %>