// 大枠
.grid{
  display:grid;
  background-color: pink;
  border:solid 1px red;
  grid-template-columns: repeat(36, 1fr)
}

ul{
  list-style:none;
  text-align:center;
}

a{
  text-decoration: none;
  &:link{color:green;}
  &:hover{color:green;}
  &:visited{color:green;}
  &:active{color:green;}
}



// ヘッダー

.navbar{
  background-color:yellow;
  grid-column-start:1;
  grid-column-end:5;
  grid-row-start: 1;
  grid-row-end: 12;
  display:grid;
  grid-template-columns: 1fr;
}

.sidebargridcontainer{
  grid-column-start: 1;
  grid-row-end: 12;


}

.sidemenuhome{
  background-color: red;
}
// header{
//   display: grid;
//   border:1px red;
// }

// body{
//   display: grid;
//   border:1px red;
// }