@import "bootstrap-sprockets";
@import "bootstrap";

// 大枠
.container-fruid{
  background-image: image_url("rtethjdyrsetgshf_TP_V.jpg") ;
  height:700px;
  display:flex;
  overflow:atuo;
  
}

.main{
  background: rgba(255,255,255,0.4);
  margin-right:0;
  width:100%;
  height:700px;
  color:black
}

a{
  color:black;
}

.sidebar{
  color:white;
  background: rgba(0,0,0,0.4);
  a{
    color:white;
  }
 }

 .pagenation{
   margin-left: 41px;
 }
 h1{
   margin-left: 41px;
 }



// ヘッダー・サイドバー内
.ulsidebar{
  margin-top: 50px;
}


li{
  height:50px;
  list-style: none;
}

// フッター
footer{
  position:absolute;
  bottom:30px;
}

