// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";



.grid{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 100px;
}

.box{
  background-color: purple;
  border:2px solid red;
  color:yellow;
}

.box1{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}


.container-fruid{
  background-color: blue;
  
}


// ヘッダー
header{
  position:fixed;
  .nav{
    background-color: red;
  }
}

// ボディ
.main{
  background-color: yellow;
  padding-top: 80px;  
}



// フッター

footer{
  background-color:green;
  text-decoration: none;
  a{
    color:red;
  }
}






