<footer class="">
  <small>
     <a href="https://www.google.com/?hl=ja">グーグル</a>
     <a href="#">未実装</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "免責事項",   about_path %></li>
      <li><%= link_to "連絡先", contact_path %></li>
      <li><a href="https://www.yahoo.co.jp/">Yahoo!</a></li>
    </ul>
  </nav>
</footer>