<footer class="">

  <nav>
    <ul>
      <!--
      <li><%= link_to "実験1(要ログイン)", :controller=> 'static_pages', :action=> 'experiment' %></li>
      -->
      <li><%= link_to "免責事項",   about_path %></li>
      <li><%= link_to "連絡先", contact_path %></li>
     
    </ul>
  </nav>

</footer>